@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  position: relative;
}

body {
  background-color: #ece7db;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  width: 10px;
  background: #650775;
  border-radius: 10px;
}
